.conteiner {
    cursor: pointer;
    position: fixed;
    margin-top: 42%;
    align-items: center;
    width: 450px;
    height: 600px;
    border: 4px solid #397fc5;
    border-radius: 10px;
    z-index: 1000;
}

.h1 {
    display: flex;
    justify-content: center;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

form .div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

form .input,
form .textarea {
    outline: unset;
    padding: 20px;
    width: 400px;
    border: 3px solid #397fc5;
    border-radius: 20px;
}

form .input:focus,
form .textarea:focus {
    background-color: rgb(250, 246, 246);
}

.enviar {
    margin-top: 10px;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #FFFFFF;
    width: 400px;
    height: 50px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid rgb(100, 121, 237);
}

@media(max-width:600px) {
    .conteiner {
        margin-top: 800px;
        width: 350px;
        height: 580px;
        font-size: 10px;
    }

    form .input,
    form .textarea {
        width: 280px;
    }

    .enviar {
        margin-top: 5px;
        width: 280px;
    }

    .div {
        font-size: 15px;
    }
}