.conteiner {
    margin-top: 10px;
    align-items: center;
    width: 600px;
    height: 710px;
    border: 1px solid cornflowerblue;
    border-radius: 10px;
}
h1 {
    display: flex;
    justify-content: center;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
form input, form textarea {
    outline: unset;
    padding: 20px;
    width: 450px;
    border: 1px solid cornflowerblue;
    border-radius: 20px;
}
form input:focus, form textarea:focus {
 background-color: rgb(250, 246, 246);
}
.enviar {
    margin-top: 10px;
    background-color: cornflowerblue;
    width: 450px;
    height: 50px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid cornflowerblue;
}